.Nav-category {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f5fafd;
  color: #fff;
  font-size: 18px;
  color: black;
}

.category-btns {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 3px;
  color: #000;
  background: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  padding: 5px 5px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.category-btns:hover {
  background: rgb(151, 169, 218);
  color: white;
}

.category-li {
  display: inline-block;
  vertical-align: top;
}
