.item-img {
  width: 10rem;
}

.item-card {
  margin-bottom: 1rem;
  margin-right: 1rem;

  padding: 5px;
  background-color: #f5fafd;
  display: grid;
  justify-content: center;
  align-items: center;
}

.item-ul {
  margin: 0 auto;
  text-align: center;
}

.item-card {
  display: inline-block;
  vertical-align: top;
}

.single-item {
  margin: 3rem;
  padding: 5px;
  background-color: #f5fafd;
  display: grid;
  justify-content: center;
  align-items: center;
}
